<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ThemeName</key>
		<string>ThemeDark</string>
		<key>ThemeDesc</key>
		<string>深色主题，目前App的主题</string>
		<key>ThemeImage</key>
		<dict>
			<key>kImageSelfStockRightArrow</key>
			<string>img_self_stock_header_right_arrow_black</string>
			<key>kImageYiDongBaoBottomPopViewClose</key>
			<string>img_stock_ggyd_dark_close</string>
			<key>kImageYiDongBaoBottomPopViewIcon</key>
			<string>img_stock_ggyd_dark_icon</string>
			<key>kImageHistoryMinChartBackground</key>
			<string>img_history_min_chart_background_black</string>
			<key>kImageKLinePanKouShadow</key>
			<string>img_kline_pankou_shadow_black</string>
			<key>kkkineImage3IndexShadow</key>
			<string>img_kLine_3_index_shadow_black</string>
			<key>kKlineImageTriangleIconDown</key>
			<string>img_kline_index_white_triangle_down</string>
			<key>kKlineImageTriangleIconUp</key>
			<string>img_kline_index_white_triangle_up</string>
			<key>kKlineRemoveSelfStock</key>
			<string>img_kline_remove_self_stock_black</string>
			<key>kKlineAddSelfStock</key>
			<string>img_kline_add_self_stock_black</string>
			<key>kAlarmClockImageHL</key>
			<string>img_alarm_clock_HL_black</string>
			<key>kAlarmClockImage</key>
			<string>img_alarm_clock_black</string>
			<key>kSearchImageHL</key>
			<string>img_search_HL_black</string>
			<key>kSearchImage</key>
			<string>img_search_black</string>
			<key>kShareImageHL</key>
			<string>img_share_HL_black</string>
			<key>kShareImage</key>
			<string>img_share_black</string>
			<key>kStockRefreshImage</key>
			<string>nav_refresh_nor</string>
			<key>kStockVerticleToHorizontalHL</key>
			<string>img_to_horizontal_black_HL</string>
			<key>kStockHorizontalToVerticleHL</key>
			<string>img_to_verticle_black_HL</string>
			<key>kStockVerticleToHorizontal</key>
			<string>img_to_horizontal_black</string>
			<key>kStockHorizontalToVerticle</key>
			<string>img_to_verticle_black</string>
			<key>kCheckBoxImage</key>
			<string>cash_confirm</string>
			<key>kCheckBoxRightImage</key>
			<string>cash_confirm_right</string>
			<key>kPhoneFeeContactImageHL</key>
			<string>home_phone_contact_highlight</string>
			<key>kPhoneFeeContactImage</key>
			<string>home_phone_contact</string>
			<key>kKlineLeftImage</key>
			<string>move_kline_last_dark</string>
			<key>kKlineRightImage</key>
			<string>move_kline_next_dark</string>
			<key>kZoomOutImage</key>
			<string>zoom_out_dark</string>
			<key>kZoomInImage</key>
			<string>zoom_in_dark</string>
			<key>kAddStkImage</key>
			<string>add_stock_dark</string>
			<key>kDelStkImage</key>
			<string>del_stock_dark</string>
			<key>kNextStkImage</key>
			<string>arrow_next_dark</string>
			<key>kLastStkImage</key>
			<string>arrow_last_dark</string>
			<key>kLeftMenuSkinImage</key>
			<string>left_menu_skin_dark</string>
			<key>kLeftMenuBgImage</key>
			<string>left_menu_bg_dark</string>
			<key>kMarketPlateBgImage</key>
			<string>market_plant_dark</string>
			<key>kTradeSpiritBgImage</key>
			<string>tradeSpirit_bg_dark</string>
			<key>kTradeCardRMBImage</key>
			<string>tradeCard_RMB_bg_dark</string>
			<key>kTradeCardHKDImage</key>
			<string>tradeCard_HKD_bg_dark</string>
			<key>kTradeCardUSDImage</key>
			<string>tradeCard_RMB_bg_dark</string>
			<key>kTradeBanktoSecurityMoreImage</key>
			<string>img_stock_bottom_more</string>
		</dict>
		<key>ThemeColor</key>
		<dict>
			<key>kOtherMarketBtnColor</key>
			<string>393949</string>
			<key>kStockYiDongBaoBottomPopViewBkgColor</key>
			<string>434359</string>
			<key>kMarketListTitleColor</key>
			<string>999999</string>
			<key>kStockRiseRedColor</key>
			<string>eb333b</string>
			<key>kStockFallGreenColor</key>
			<string>1aae52</string>
			<key>kStockPlaneGrayColor</key>
			<string>6e6e6e</string>
			<key>kStockSeparateLineColor</key>
			<string>6c6c8c50</string>
			<key>kStockText5Color</key>
			<string>cccccc</string>
			<key>kStockText4Color</key>
			<string>ffffff</string>
			<key>kStockText3Color</key>
			<string>999999</string>
			<key>kStockText2Color</key>
			<string>999999</string>
			<key>kStockText1Color</key>
			<string>ffffff</string>
			<key>kStockYellowDotColor</key>
			<string>ff8420</string>
			<key>kStockFSMaskBackgroundColor</key>
			<string>6e87a0</string>
			<key>kStockThemeBlackColor</key>
			<string>212138</string>
			<key>kChildTitleViewBgColor</key>
			<string>212138</string>
			<key>kStockWudangBarColor</key>
			<string>78788c</string>
			<key>kStockCrossLineBkgColor</key>
			<string>838388</string>
			<key>kStockMinAverageLineColor</key>
			<string>E97311</string>
			<key>kStockMinStrokeColor</key>
			<string>ADC5D9</string>
			<key>kStockMinFillColor</key>
			<string>309FEA</string>
			<key>kStockBkgColor3</key>
			<string>2e2e46</string>
			<key>kStockBkgColor2</key>
			<string>212138</string>
			<key>kStockBkgColor1</key>
			<string>393949</string>
			<key>kStockLastCloseColor</key>
			<string>dddddd</string>
			<key>kLineZSLineAverageColor</key>
			<string>e4d419</string>
			<key>kLineZSLineColor</key>
			<string>202020</string>
			<key>kBkldBgColor</key>
			<string>f8f8ff</string>
			<key>kLineAverage6Color</key>
			<string>4cfaef</string>
			<key>kLineAverage5Color</key>
			<string>ff898e</string>
			<key>kLineAverage4Color</key>
			<string>ffd1d0</string>
			<key>kLineAverage3Color</key>
			<string>ff9b10</string>
			<key>kLineAverage2Color</key>
			<string>c082ff</string>
			<key>kLineAverage1Color</key>
			<string>23a5ff</string>
			<key>kPageControlDotColor</key>
			<string>309fea</string>
			<key>kLineColorAverage5</key>
			<string>ebb721</string>
			<key>kLineColorAverage10</key>
			<string>de2d23</string>
			<key>kLineColorAverage20</key>
			<string>3d8d0e</string>
			<key>kLineColorAverage30</key>
			<string>777777</string>
			<key>kPhoneFeeBlueColorDisable</key>
			<string>97d2f0</string>
			<key>kPhoneFeePriceBgColor</key>
			<string>f7f7f7</string>
			<key>kMarketMenuTitleColor</key>
			<string>309fea</string>
			<key>kMarketButtonBgColor</key>
			<string>ededed</string>
			<key>kPopViewBgColor</key>
			<string>f7f7f7</string>
			<key>kPopViewEdgeColor</key>
			<string>cccccc</string>
			<key>kNavBlackBgColor</key>
			<string>212138</string>
			<key>kNewsDetailTitleBottomColor</key>
			<string>38a0ea</string>
			<key>kNewsDetailTitleTopColor</key>
			<string>2e82e6</string>
			<key>kTitleColor</key>
			<string>333333</string>
			<key>kTitleDetailColor</key>
			<string>777777</string>
			<key>kTitleThirdColor</key>
			<string>adadad</string>
			<key>kTradeMenuSeparateColor</key>
			<string>3dadf8</string>
			<key>kSeparateColor</key>
			<string>dbdbdb</string>
			<key>kTradeMenuBgColor</key>
			<string>369fea</string>
			<key>kNewsTitleNorColor</key>
			<string>8cd1f6</string>
			<key>kNewsTitleSelColor</key>
			<string>f3f3f3</string>
			<key>kSelfStockTitleColor</key>
			<string>309fea</string>
			<key>kMarketHeaderBgColor</key>
			<string>ffffff</string>
			<key>kTradePlaceholderColor</key>
			<string>d5d5d8</string>
			<key>kTradeTitleNorColor</key>
			<string>8cd1f6</string>
			<key>kTradeTitleSelColor</key>
			<string>369fea</string>
			<key>kTradeLockPriceShortPressColor</key>
			<string>efefee</string>
			<key>kTradeLockPriceLongPressColor</key>
			<string>e9e9e8</string>
			<key>kTradeLockPriceAnimatedStartColor</key>
			<string>d8e2ef</string>
			<key>kTradeLockPriceAnimatedEndColor</key>
			<string>70bbee</string>
			<key>kBlueFirstColor</key>
			<string>309fea</string>
			<key>kBlueSecondColor</key>
			<string>97d2f0</string>
			<key>kFourthFontColor</key>
			<string>cccccc</string>
			<key>kViewNewColor</key>
			<string>cccccc</string>
			<key>kStockListBackgroudColor</key>
			<string>393949</string>
			<key>kStockListSeparatorColor</key>
			<string>4c4c68</string>
			<key>kStockListStockNameColor</key>
			<string>ffffff</string>
			<key>kStockListStockCodeColor</key>
			<string>999999</string>
			<key>kStockListMarginIconColor</key>
			<string>ff8421</string>
			<key>kStockListHKStockIconColor</key>
			<string>b17fcc</string>
			<key>kStockListTitleColor</key>
			<string>ffffff</string>
			<key>kStockListGroupNameColor</key>
			<string>eb333b</string>
			<key>kStockListRiseAnimationColor</key>
			<string>532e44</string>
			<key>kStockListFallAnimationColor</key>
			<string>294748</string>
			<key>kStockListTitleViewTopLineColor</key>
			<string>393949</string>
			<key>kTradeNavBgColor</key>
			<string>212138</string>
			<key>kTradeVcBgColor</key>
			<string>18182f</string>
			<key>kTradeViewBgColor</key>
			<string>212138</string>
			<key>kTradeSeparatorColor</key>
			<string>111119</string>
			<key>kTradeTextColorDark</key>
			<string>ffffff</string>
			<key>kTradeTextColorGrey</key>
			<string>999999</string>
			<key>kTradeMenuLogoutTextColor</key>
			<string>999999</string>
			<key>kTradePlaceHolderTextColor</key>
			<string>555555</string>
			<key>kTradeButtonDisableColor</key>
			<string>555555</string>
			<key>kTradeButtonDisableTextColor</key>
			<string>999999</string>
			<key>kTradeEntrustTitleTextColor</key>
			<string>999999</string>
			<key>kTradeEntrustContentTextColor</key>
			<string>ffffff</string>
			<key>kTradeVerticalDashLineColor</key>
			<string>555555</string>
			<key>kTradeBankToSecurityBtnColor</key>
			<string>555555</string>
			<key>kTradeBankToSecuritybtnViewBgColor</key>
			<string>18182f</string>
		</dict>
	</dict>
	<dict>
		<key>ThemeName</key>
		<string>ThemeLight</string>
		<key>ThemeDesc</key>
		<string>浅色主题，即将上线的主题</string>
		<key>ThemeImage</key>
		<dict>
			<key>kImageSelfStockRightArrow</key>
			<string>img_self_stock_header_right_arrow_white</string>
			<key>kImageYiDongBaoBottomPopViewClose</key>
			<string>img_stock_ggyd_light_close</string>
			<key>kImageYiDongBaoBottomPopViewIcon</key>
			<string>img_stock_ggyd_light_icon</string>
			<key>kImageHistoryMinChartBackground</key>
			<string>img_history_min_chart_background_white</string>
			<key>kImageKLinePanKouShadow</key>
			<string>img_kline_pankou_shadow_white</string>
			<key>kkkineImage3IndexShadow</key>
			<string>img_kLine_3_index_shadow_white</string>
			<key>kKlineImageTriangleIconDown</key>
			<string>img_kline_index_black_triangle_down</string>
			<key>kKlineImageTriangleIconUp</key>
			<string>img_kline_index_black_triangle_up</string>
			<key>kKlineRemoveSelfStock</key>
			<string>img_kline_remove_self_stock_white</string>
			<key>kKlineAddSelfStock</key>
			<string>img_kline_add_self_stock_white</string>
			<key>kAlarmClockImageHL</key>
			<string>img_alarm_clock_HL_white</string>
			<key>kAlarmClockImage</key>
			<string>img_alarm_clock_white</string>
			<key>kSearchImageHL</key>
			<string>img_search_HL_white</string>
			<key>kSearchImage</key>
			<string>img_search_white</string>
			<key>kShareImageHL</key>
			<string>img_share_HL_white</string>
			<key>kShareImage</key>
			<string>img_share_white</string>
			<key>kStockRefreshImage</key>
			<string>nav_refresh_nor_black</string>
			<key>kStockHorizontalToVerticleHL</key>
			<string>img_to_verticle_white_HL</string>
			<key>kStockVerticleToHorizontalHL</key>
			<string>img_to_horizontal_white_HL</string>
			<key>kStockHorizontalToVerticle</key>
			<string>img_to_verticle_white</string>
			<key>kStockVerticleToHorizontal</key>
			<string>img_to_horizontal_white</string>
			<key>kCheckBoxImage</key>
			<string>cash_confirm_blue</string>
			<key>kCheckBoxRightImage</key>
			<string>cash_confirm_right_blue</string>
			<key>kPhoneFeeContactImage</key>
			<string>home_phone_contact_highlight</string>
			<key>kPhoneFeeContactImageHL</key>
			<string>home_phone_contact</string>
			<key>kDelStkImage</key>
			<string>del_stock_light</string>
			<key>kAddStkImage</key>
			<string>add_stock_light</string>
			<key>kZoomInImage</key>
			<string>zoom_in_light</string>
			<key>kZoomOutImage</key>
			<string>zoom_out_light</string>
			<key>kKlineRightImage</key>
			<string>move_kline_next_light</string>
			<key>kKlineLeftImage</key>
			<string>move_kline_last_light</string>
			<key>kNextStkImage</key>
			<string>next_arrow_light</string>
			<key>kLastStkImage</key>
			<string>last_arrow_light</string>
			<key>kLeftMenuSkinImage</key>
			<string>left_menu_skin_light</string>
			<key>kLeftMenuBgImage</key>
			<string>left_menu_bg_light</string>
			<key>kMarketPlateBgImage</key>
			<string>market_plant_light</string>
			<key>kTradeSpiritBgImage</key>
			<string>tradeSpirit_bg_light</string>
			<key>kTradeCardRMBImage</key>
			<string>tradeCard_RMB_bg_light</string>
			<key>kTradeCardHKDImage</key>
			<string>tradeCard_HKD_bg_light</string>
			<key>kTradeCardUSDImage</key>
			<string>tradeCard_RMB_bg_light</string>
			<key>kTradeBanktoSecurityMoreImage</key>
			<string>nav_more_nor</string>
		</dict>
		<key>ThemeColor</key>
		<dict>
			<key>kOtherMarketBtnColor</key>
			<string>e5ebf1</string>
			<key>kMarketListTitleColor</key>
			<string>555555</string>
			<key>kStockYiDongBaoBottomPopViewBkgColor</key>
			<string>e3e3e5</string>
			<key>kStockRiseRedColor</key>
			<string>eb333b</string>
			<key>kStockFallGreenColor</key>
			<string>1aae52</string>
			<key>kStockPlaneGrayColor</key>
			<string>6e6e6e</string>
			<key>kStockSeparateLineColor</key>
			<string>dddddd</string>
			<key>kStockText3Color</key>
			<string>555555</string>
			<key>kStockText2Color</key>
			<string>999999</string>
			<key>kStockText1Color</key>
			<string>555555</string>
			<key>kStockYellowDotColor</key>
			<string>ff8420</string>
			<key>kStockFSMaskBackgroundColor</key>
			<string>6e87a0</string>
			<key>kStockThemeBlackColor</key>
			<string>212138</string>
			<key>kChildTitleViewBgColor</key>
			<string>f0f0f0</string>
			<key>kStockWudangBarColor</key>
			<string>309fea</string>
			<key>kStockCrossLineBkgColor</key>
			<string>212138</string>
			<key>kStockMinAverageLineColor</key>
			<string>E97311</string>
			<key>kStockMinStrokeColor</key>
			<string>ADC5D9</string>
			<key>kStockMinFillColor</key>
			<string>309FEA</string>
			<key>kStockText5Color</key>
			<string>555555</string>
			<key>kStockText4Color</key>
			<string>222222</string>
			<key>kStockBkgColor3</key>
			<string>ffffff</string>
			<key>kStockBkgColor2</key>
			<string>ffffff</string>
			<key>kStockBkgColor1</key>
			<string>f6f6f6</string>
			<key>kStockLastCloseColor</key>
			<string>212d33</string>
			<key>kLineZSLineAverageColor</key>
			<string>e4d419</string>
			<key>kLineZSLineColor</key>
			<string>202020</string>
			<key>kBkldBgColor</key>
			<string>f8f8ff</string>
			<key>kLineAverage6Color</key>
			<string>00776f</string>
			<key>kLineAverage5Color</key>
			<string>ff898e</string>
			<key>kLineAverage4Color</key>
			<string>9d0000</string>
			<key>kLineAverage3Color</key>
			<string>ff9b10</string>
			<key>kLineAverage2Color</key>
			<string>c082ff</string>
			<key>kLineAverage1Color</key>
			<string>23a5ff</string>
			<key>kPageControlDotColor</key>
			<string>309fea</string>
			<key>kLineColorAverage5</key>
			<string>ebb721</string>
			<key>kLineColorAverage10</key>
			<string>de2d23</string>
			<key>kLineColorAverage20</key>
			<string>3d8d0e</string>
			<key>kLineColorAverage30</key>
			<string>777777</string>
			<key>kPhoneFeeBlueColorDisable</key>
			<string>97d2f0</string>
			<key>kPhoneFeePriceBgColor</key>
			<string>f7f7f7</string>
			<key>kMarketMenuTitleColor</key>
			<string>309fea</string>
			<key>kMarketButtonBgColor</key>
			<string>ededed</string>
			<key>kPopViewBgColor</key>
			<string>f7f7f7</string>
			<key>kPopViewEdgeColor</key>
			<string>cccccc</string>
			<key>kNavBlackBgColor</key>
			<string>212138</string>
			<key>kNewsDetailTitleBottomColor</key>
			<string>38a0ea</string>
			<key>kNewsDetailTitleTopColor</key>
			<string>2e82e6</string>
			<key>kTitleColor</key>
			<string>333333</string>
			<key>kTitleDetailColor</key>
			<string>777777</string>
			<key>kTitleThirdColor</key>
			<string>adadad</string>
			<key>kTradeMenuSeparateColor</key>
			<string>3dadf8</string>
			<key>kSeparateColor</key>
			<string>dbdbdb</string>
			<key>kTradeMenuBgColor</key>
			<string>369fea</string>
			<key>kNewsTitleNorColor</key>
			<string>8cd1f6</string>
			<key>kNewsTitleSelColor</key>
			<string>f3f3f3</string>
			<key>kSelfStockTitleColor</key>
			<string>309fea</string>
			<key>kMarketHeaderBgColor</key>
			<string>ffffff</string>
			<key>kTradePlaceholderColor</key>
			<string>d5d5d8</string>
			<key>kTradeTitleNorColor</key>
			<string>8cd1f6</string>
			<key>kTradeTitleSelColor</key>
			<string>369fea</string>
			<key>kTradeLockPriceShortPressColor</key>
			<string>efefee</string>
			<key>kTradeLockPriceLongPressColor</key>
			<string>e9e9e8</string>
			<key>kTradeLockPriceAnimatedStartColor</key>
			<string>d8e2ef</string>
			<key>kTradeLockPriceAnimatedEndColor</key>
			<string>70bbee</string>
			<key>kBlueFirstColor</key>
			<string>309fea</string>
			<key>kBlueSecondColor</key>
			<string>97d2f0</string>
			<key>kFourthFontColor</key>
			<string>cccccc</string>
			<key>kViewNewColor</key>
			<string>cccccc</string>
			<key>kStockListBackgroudColor</key>
			<string>F0F0F0</string>
			<key>kStockListSeparatorColor</key>
			<string>e9e9e9</string>
			<key>kStockListStockNameColor</key>
			<string>222222</string>
			<key>kStockListStockCodeColor</key>
			<string>555555</string>
			<key>kStockListMarginIconColor</key>
			<string>ff8421</string>
			<key>kStockListHKStockIconColor</key>
			<string>b17fcc</string>
			<key>kStockListTitleColor</key>
			<string>555555</string>
			<key>kStockListGroupNameColor</key>
			<string>eb333b</string>
			<key>kStockListRiseAnimationColor</key>
			<string>fef3f4</string>
			<key>kStockListFallAnimationColor</key>
			<string>e8f6ed</string>
			<key>kStockListTitleViewTopLineColor</key>
			<string>c8c8c8</string>
			<key>kTradeNavBgColor</key>
			<string>ffffff</string>
			<key>kTradeVcBgColor</key>
			<string>f0f0f0</string>
			<key>kTradeViewBgColor</key>
			<string>ffffff</string>
			<key>kTradeSeparatorColor</key>
			<string>f0f0f0</string>
			<key>kTradeTextColorDark</key>
			<string>333333</string>
			<key>kTradeTextColorGrey</key>
			<string>999999</string>
			<key>kTradeMenuLogoutTextColor</key>
			<string>333333</string>
			<key>kTradePlaceHolderTextColor</key>
			<string>d5d5d8</string>
			<key>kTradeButtonDisableColor</key>
			<string>d5d5d8</string>
			<key>kTradeButtonDisableTextColor</key>
			<string>ffffff</string>
			<key>kTradeEntrustTitleTextColor</key>
			<string>555555</string>
			<key>kTradeEntrustContentTextColor</key>
			<string>333333</string>
			<key>kTradeVerticalDashLineColor</key>
			<string>bac9d8</string>
			<key>kTradeBankToSecurityBtnColor</key>
			<string>dddddd</string>
			<key>kTradeBankToSecuritybtnViewBgColor</key>
			<string>ffffff</string>
		</dict>
	</dict>
</array>
</plist>
